.favoritecard__container {
  align-items: center;
  background-color: $transparent-blue;
  border-radius: 10px;
  color: $dark-blue;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
  padding: 8px 16px;
  width: 90%;

  transition: background-color 0.3s ease;

  img {
    background-color: $grey;
    border-radius: 100%;
    width: 60px;
  }

  &:hover {
    background-color: darken($color: $transparent-blue, $amount: 5);
  }

  &:active {
    background-color: darken($color: $transparent-blue, $amount: 12.5);
  }
}

.favoritecard__location {
  font-size: 18px;
  font-weight: 500;
}

.favoritecard__temp {
  font-size: 28px;
  font-weight: 600;
}

.favoritecard__desc {
  font-size: 16px;
  font-weight: 400;
}
