// Colors
$primary-blue: #2b8cdf;
$secondary-blue: #4785bc;
$sky-blue: #75b4ec;
$white-blue: #c6e0f5;

$dark-blue: #052039;
$soft-blue: #1f4467;
$grey-blue: #647788;
$grey: #b7c7d6;
$transparent-blue: #ecf3f9;
$white: white;
$dark: #282828;
